<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Пример Spring Security </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Неверное имя или пароль.
        </div>
        <div th:if="${param.logout}">
            Сеанс завершен, Вы вышли из системы.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Имя : <input type="text" name="username"/> </label></div>
            <div><label> Пароль: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Войти"/></div>
        </form>
    </body>
</html>